# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
apps/api/prisma/dev.db

uploads/

# PWA
dev-dist/
sw.js
workbox-*.js

apps/admin/.env.production
apps/memorial/.env.production
data/
